body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:url("images/6796108.jpg");
  background-size: cover;
}
.khaki {
  background: khaki;
  
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  gap: 20px;
  padding: 5px;
}
.colorArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 5px;
  margin-top: 5px;
}
.board {
  width: 550px;
  height: 490px;
  display: grid;
  border: 2px solid #232323;
  background-color: azure;
}